[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BusinessDuration"]
	path = BusinessDuration
	url = https://github.com/cran/BusinessDuration
